# Email конфигурация
IMAP_SERVER=imap.yandex.ru
EMAIL=email
EMAIL_PASSWORD=password

# Database конфигурация
DB_HOST=localhost
DB_PORT=5432
DB_NAME=table
DB_USER=name
DB_PASSWORD=pass

# Парсер конфигурация
MAX_EMAILS_PER_RUN=100
IMAP_FOLDER=folders

# Аутентификация через токены (см. AUTH_SECRET_KEY и модуль auth/)
